<div class="container text-center">
  <div class="wrapper">
    <div class="response container">
      <div class="content">
        <% if @result %>
          <div class="icon"></div>
          <h1><%= @result[:header] %></h1>
          <section>
            <p><%= @result[:message] %></p>
          </section>
        <% end %>

        <section>
          <%= link_to "Home", root_path, class: "button primary back" %>
        </section>
      </div>
    </div>
  </div>

  <aside class="drawer dark">
    <h3>API Response</h3>
    <article class="content compact">
      <section>
        <h5>Transaction</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Transaction Amount</th>
              <th scope="col">Status</th>
              <th scope="col">created_at</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @transaction.id %></td>
              <td><%= @transaction.amount %></td>
              <td><%= @transaction.status %></td>
              <td><%= @transaction.created_at %></td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </aside>
</div>